body {
  background-image: url("/Users/vladimir/Desktop/Udemy/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  color: white;
}

nav {
  margin: 55px 55px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-right: 55px;
  margin-top: 30px;
}

.nav-image {
  width: 80%;
}

.first-row {
  margin: 0 45px;
}

.mockup-image {
  width: 95%;
}

.btn {
  /* border-radius: 30px; */
  width: 180px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: hsl(257, 40%, 49%);
  border: 0;
  margin-top: 20px;
}

.social-icons {
  /* margin: 20px; */
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 10px;
}

.social {
  text-align: right;
}
